
.meteo {
    min-width: 300px;
    min-height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    position: absolute;
    color: white;
    font-family: cursive;
}

.meteo .heure {
    width: 150px;
    position: absolute;
    color: black;
    left: 75px;
    top : -55px;
}

.meteo .heure p {
    border: 1px solid black;
    display: inline-block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 70px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    font-size: 30px;
    font-weight: 500;
}



.meteo .imgcond {
    position: absolute;
    top : 70px;
    left : 105px;
}


.meteo .ville {
    position: absolute;
    top : 40px;
    left : 25px;
}


.meteo .condition {
    position: absolute;
    top : 115px;
    left : 25px;
}


.meteo .temp {
    position: absolute;
    top : 60px;
    left : 180px;
    font-size: 35px;
    font-weight: 200;
}

.meteo .btn1 {
    border-radius: 50px;
    margin-left: 2px;
}

.meteo .btn1:hover {
    cursor: pointer;
}




.meteo .icon {
    position: absolute;
    top : 4px;
    left : 35px;
}


.meteo .icon:hover {
    cursor: pointer;
}

.meteo .recherche {
    
    position: absolute;
    background-color: white;
    color: black;
    width: 20px;
    text-align: center;
    top : 4px;
    left : 250px;
    border-radius: 10px;
}

.meteo .recherche:hover {
    box-shadow: 2px 2px black;
    cursor: pointer;
}





.meteo .search-box {
    background-color: black;
    width: 230px;
    text-align: center;
    height: 30px;
    line-height: 25px;
    border-radius: 10px;
    position: absolute;
    top : -35px;
    left : 250px;
    
}

.meteo .display {
    display: none;
}




