.meteo {
    
    /* en option */
    min-width: 300px;
    min-height: 150px;
    /*************/
    
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px black;


    

    position: absolute;
    
    color: white;
    font-family: cursive;
}

.meteo #heure {

    width: 150px;
    position: absolute;
    
    color: black;
    
 
    
    /* en option */
    left: 75px;
    top : -55px;
  /****************/
    
    
}

.meteo #heure p {
    
 /*  position: absolute;*/
    
    border: 1px solid black;
    display: inline-block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 70px;
    
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    
    font-size: 30px;
    font-weight: 500;

}



.meteo img {
    position: absolute;
    
    top : 60px;
    left : 125px;
}


.meteo #ville {
    position: absolute;
    top : 60px;
    left : 25px;
}


.meteo #condition {
    position: absolute;
    top : 115px;
    left : 25px;
}


.meteo #temp {
    position: absolute;
    top : 60px;
    left : 180px;
    
    
    font-size: 35px;
    font-weight: 200;
}

.meteo #btn1 {
    border-radius: 50px;
    margin-left: 2px;
    
}